.text-field {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 8px 8px 30px 8px;
	margin-bottom: 8px;
	position: relative;
}

.selected-card {
	z-index: 10;
	position: relative;
}

.card-tools button {
	font-size: 12px;
}

.card-tools button:focus {
	outline: none;
}

.badges {
  position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 12px;
}

.card-btns {
  position: absolute;
  text-align: right;
	right: 5px;
	bottom: 5px;
	font-size: 10px;
}

.form-tools button:hover, .card-btns button:hover {
	color: lightgrey;
	text-decoration: underline;
	cursor: pointer;
}

.tool-icon {
	font-size: 10px;
	margin-right: 2px;
}

.show-overlay {
	position: absolute;
	display: block;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0;
	top: 0;
}

.edit-field {
	font-size: inherit;
	resize: none;
	border: none;
	width: 100%;
	min-height: 50px;
	padding: 0;
}