.footer {
  width: 100%;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 7px;
  bottom: 0;
}

.name {
  margin-right: -90%;
  color: #000;
  text-decoration: none;
}

.name:hover {
  background-color: #d7d9e0;
  cursor: pointer;
  text-decoration: underline;
}